<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="1; URL=<%= base_path %>_doc/doc/index-nl.html" />
    <title>SOLIS</title>
    <style>
        * {
            margin:0;
            padding:0;
        }

        .container {
            top:50%;
            left:50%;
            position:absolute;
            transform:translate(-50%,-50%);
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Redirecting to documentation</h1>
        <a href="<%= base_path %>_doc/doc/index-nl.html">to docs</a>
    </div>
</body>
</html>